body {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", serif;
    margin: 0;
    overflow-x: hidden;
}

.gallery-button {
    background: #00A862;
    color: #fff;
    border: 1px solid #00A862;
    cursor: pointer;
    border-radius: 3px;
    height: 34px;
    width: 98px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0;
}

.error-container {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(27,31,35,.15);
    font-size: 13px;
    background-color: #ffdce0;
    color: #86181d;
    display: none;
    margin-bottom: 10px;
}

.container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bb-custom-wrapper {
    width: 100%;
    height: 100%;
    z-index: 0;
    /*4:3*/
    min-width: 800px;
    min-height: 600px;
    position: absolute;
}

.bb-custom-wrapper .bb-bookblock {
    width: 94%;
    height: 96%;
    top: 2%;
    left: 3%;
    position: absolute;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    z-index: 3;
}

.bb-custom-wrapper .bb-bookblock:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 12vh;
    width: 12vh;
    min-height: 72px;
    min-width: 72px;
    box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.5);
}

.bb-custom-wrapper .bb-bookblock:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 16vh;
    width: 15vh;
    min-height: 82px;
    min-width: 80px;
    box-shadow: 2px -1px 2px rgba(0, 0, 0, 0.5);
}

.bb-item {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    z-index: 1;
}

.desk-page {
    width: 55%;
    height: 100%;
    float: left;
    position: absolute;
}

.cover-page {
    width: 45%;
    height: 100%;
    right: 0;
    float: left;
    background: url("/img/album-cover.png") round;
    background-size: cover;
    position: absolute;
}

.cover-page:before {
    content: '';
    position: absolute;
    top: 6%;
    left: 0;
    height: 94%;
    width: 10%;
    box-shadow: -25px 0 25px rgba(0, 0, 0, 0.8), 0 -40px 40px rgba(0,0,0,0.9);
    z-index: -1;
}

.field {
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    position: relative;
}

.field#password_field{
    margin-top: 13px;
}

.login-form {
    width: 45%;
    /*height: 43%;*/
    height: 300px;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    top: calc(50% - 150px);
    position: relative;
    align-content: center;
    margin: auto;
}

.login-form input:placeholder-shown:not(:focus) + * {
    color: rgba(0, 0, 0, 0.38);
    font-size: 18px;
    top: 25px;
}

.login-form p {
    margin: 10px;
}

.login-form label {
    top: 0;
    left: 0;
    cursor: text;
    position: absolute;
    transition-duration: 0.2s;
    transition-property: color, font-size, top;
    color: rgba(0,0,0,0.6);
    font-weight: inherit;
}

.login-form input {
    background: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    padding: 5px 0;
    box-sizing: border-box;
    -webkit-transition-property: border;
    -moz-transition-property: border;
    -o-transition-property: border;
    transition-property: border;
    transition-duration: 0.2s;
    position: relative;
    z-index: 1;
    width: 100%;
    line-height: 25px;
    font-size: 18px;
}

.login-form input:hover,
.login-form input:focus,
.login-form input:active {
    border-color: #00A862;
    outline: none;
}

.login-form input::placeholder {
    color: transparent;
}

.login-form #login {
    width: 100%;
    margin-top: 15px;
    height: 38px;
}

.login-form a {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.left-page {
    width: 50%;
    float: left;
    height: 100%;
    overflow: hidden;
    background: url("/img/page-left.jpg") round;
    z-index: 0;
    background-size: cover;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.right-page {
    width: 50%;
    float: left;
    right: 0;
    height: 100%;
    overflow: hidden;
    background: url("/img/page-right.jpg") round;
    background-size: cover;
    z-index: 0;
    position: absolute;
}

.prev-page-btn {
    width: 5%;
    left: 0;
    top: 13%;
    height: 87%;
    cursor: pointer;
    z-index: 10;
    position: absolute;
}

.next-page-btn {
    width: 5%;
    height: 87%;
    top: 13%;
    right: 0;
    cursor: pointer;
    z-index: 10;
    position: absolute;
}

.photo-base {
    width: 15vw;
    height: 15vw;
    background: rgb(247, 247, 247);
    position: absolute;
    box-sizing: content-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 2% 2% 40px 2%;
    cursor: pointer;
}

.photo-base:before,
.photo-base:after {
    content: '';
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.photo-base:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}

.photo-base p {
    margin: 0;
    width: 100%;
    text-align: center;
    line-height: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.photo-base .rotate-90 {
    position: relative;
    left: 100%;
    transform-origin: top left;
}

.photo-base .rotate-270 {
    position: relative;
    transform-origin: top right;
}

img {
    height: auto;
    width: 100%;
}

.gallery-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-cover.top {
    top: 6%;
}

.gallery-cover.bottom {
    bottom: 6%;
}

.photo-1 {
    top: 6%;
    left: 7%;
}

.photo-2 {
    top: 35%;
    right: 12%;
}

.photo-3 {
    bottom: 6%;
    left: 7%;
}

.photo-4 {
    top: 6%;
    left: 14%;
}

.photo-5 {
    top: 35%;
    right: 7%;
}

.photo-6 {
    bottom: 6%;
    left: 14%;
}

.menu {
    top: 0;
    left: 10px;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    background: url("/img/menu.png") round;
    height: 12vh;
    width: 12vh;
    min-height: 72px;
    min-width: 72px;
    transition-duration: 0.5s;
    transition-property: top, left;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.menu:hover {
    left: 0;
}

.menu a {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.upload {
    top: 0;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    background: url("/img/upload-photo.png") round;
    position: absolute;
    height: 16vh;
    width: 15vh;
    min-height: 82px;
    min-width: 80px;
    transition-duration: 0.5s;
    transition-property: top, right;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.upload:hover {
    right: 0;
}

.upload a {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.menu-page {

}

.copyright {
    bottom: 5px;
    left: 0;
    width: 100%;
    min-height: 20px;
    position: absolute;
    text-align: center;
    font-size: 14px;
}

a {
    text-decoration: none;
    background-color: transparent;
    outline: none;
}

a.link{
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.6) !important;
    color: rgba(0,0,0,0.6) !important;
    transition-duration: 0.2s;
    transition-property: border;
}

a.link:hover {
    color: black !important;
    border-color: black !important;
}

h3 {
    color: black;
}

.upload-label {
    height: 300px;
    width: auto;
}

.desk {
    background: url("/img/cover-desk.jpg") round;
}

.album {
    background: url("/img/album-bg.jpg") round;
    background-color: black;
    background-size: cover;
}

.album:before {
    content: '';
    width: 47%;
    height: 96%;
    position: absolute;
    right: 3%;
    top: 2%;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.album:after {
    content: '';
    width: 47%;
    height: 96%;
    position: absolute;
    left: 3%;
    top: 2%;
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.upload-cover {
    height: 100%;
    width: 100%;
    /*4:3*/
    min-width: 800px;
    min-height: 600px;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    display: none;
    z-index: 1;
}

.upload-form {
    height: 350px;
    width: 600px;
    background-color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 10px  rgba(0,0,0,0.3);
    box-shadow: 10px 10px 10px  rgba(0,0,0,0.3);
}

.upload-file {
    top: 25px;
    left: 25px;
    position: absolute;
    height: 300px;
    width: 300px;
}

.upload-file label {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    background: #F8F8F8 no-repeat center;
    background-size: contain;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #999999;
    z-index: 1;
}

.upload-file label:before {
    content: '选择上传照片';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -1rem;
    font-size: 20px;
    text-align: center;
}

.upload-file label.set:before{
    display: none;
}

.rotate-90{
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}
.rotate-180{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
.rotate-270{
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    transform:rotate(270deg);
}

.upload-file input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-info {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 225px;
    height: 300px;
}

.upload-info .error-container {
    margin: 5px 0 0 0;
}

.upload-info .error-container p {
    margin: 5px;
}

.upload-info-base {
    padding: 10px 0;
    width: 100%;
}

.upload-info-base label {
    color: rgba(0,0,0,0.6);
}

.upload-info-base label[for='upload_public'] {
    padding: 3px;
    position: absolute;
}

#upload_original_time, #upload_description {
    width: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #00A862;
    background: none;
    line-height: 25px;
    padding: 3px 0;
    outline: none;
}

.upload-cancel {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    width: 40px;
}

.fancybox-toolbar {
    height: 44px;
}

.fancybox-comments {
    overflow-y: auto;
    max-height: 60%;
}

.fancybox-comments p{
    margin-top: 0;
    margin-bottom: 10px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.fancybox-up input{
    width: 100%;
    margin-top: 5px;
    line-height: 1.3;
    padding: 5px;
}

.fancybox-title{
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.fancybox-up .fancybox-opbtn {
    margin-top: 12px;
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

.fancybox-up .fancybox-opbtn a {
    position: absolute;
    bottom: 0;
    right: 1px;
}

.fancybox-caption .shooting-time {
    color: rgba(0,0,0,0.3) !important;
    font-size: 12px !important;
}
