<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Aven">
    <title>Gallery</title>
    <link rel="shortcut icon" href="/img/cloud.ico">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/bookblock.css">
    <link rel="stylesheet" href="/css/fancybox.custom.css">
    <!--<link rel="stylesheet"-->
    <!--href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css"/>-->
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/exif.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>-->
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/jquery.bookblock.min.js"></script>
    <script src="/js/jquerypp.custom.js"></script>
    <script src="/js/gallery.js"></script>
</head>
<body>
<div class="container">
    <div class="bb-custom-wrapper album">
        <!--TODO-->
        <!--<div class="menu" title="Menu"></div>-->
        <div class="prev-page-btn"></div>
        <div id="bb-bookblock" class="bb-bookblock">
            <div class="bb-item">
                <div class="left-page"></div>
                <div class="right-page"></div>
            </div>
        </div>
        <div class="next-page-btn"></div>
        <div class="upload" title="Upload Photo">
            <a onclick="showUpload()"></a>
        </div>
    </div>
    <div class="upload-cover"></div>
    <div class="upload-form">
        <div class="upload-file">
            <label for="upload_file" id="upload_label"></label>
            <input id="upload_file" type="file" accept="image/*">
        </div>
        <div class="upload-info">
            <div class="error-container">
                <p></p>
            </div>
            <div class="upload-info-base">
                <label for="upload_description">Description: </label>
                <input id="upload_description" type="text" maxlength="10" placeholder="描述照片(10字以内)">
            </div>
            <div class="upload-info-base">
                <label for="upload_original_time">Shooting Time: </label>
                <input id="upload_original_time" type="date" contenteditable="false">
            </div>
            <div class="upload-info-base">
                <input id="upload_public" type="checkbox" datatype=""><label for="upload_public">Public</label>
            </div>
            <input id="upload_rotate" value="0" hidden>
            <button id="upload-btn" class="gallery-button">Upload</button>
        </div>
        <button class="upload-cancel" onclick="hideUpload()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"></path>
            </svg>
        </button>
    </div>
</div>
</body>
<script>
    var Page = (function () {
        var config = {
                $bookBlock: $('#bb-bookblock'),
                $prev: $('.prev-page-btn'),
                $next: $('.next-page-btn')
            },
            init = function () {
                config.$bookBlock.bookblock({
                    speed: 800,
                    shadowSides: 0.8,
                    shadowFlip: 0.7,
                    onBeforeFlip: function (page) {

                        return false;
                    },
                    onEndFlip: function (old, page, isLimit) {
                        // var $menuPage = $('#menu-page');
                        // if (!$menuPage.is(':hidden')) {
                        //     $menuPage.attr('hidden', '');
                        //     $menuPage.removeClass('bb-item');
                        //     config.$bookBlock.bookblock('update');
                        // }
                        return false;
                    }
                });
                initEvents();
            },
            initEvents = function () {
                var $slides = config.$bookBlock.children();

                config.$prev.on('click', function () {
                    config.$bookBlock.bookblock('prev');
                    return false;
                });

                config.$next.on('click', function () {
                    config.$bookBlock.bookblock('next');
                    return false;
                });

                // config.$bookmark.on('click', function () {
                //     config.$bookBlock.bookblock('first');
                // });

                // add swipe events
                $slides.on({
                    'swipeleft': function (event) {
                        config.$bookBlock.bookblock('next');
                        return false;
                    },
                    'swiperight': function (event) {
                        config.$bookBlock.bookblock('prev');
                        return false;
                    }
                });
            };

        return {init: init};
    })();
</script>
<script>
    var galleryId = getCookie('gallery');
    var role;
    var title;
    if (galleryId) {
        $.ajax({
            type: 'GET',
            url: '/gallery/' + galleryId,
            async: false,
            success: function (data) {
                title = data.groupName;
                role = data.roleInGroup;
                $(document).attr('title', title);
                // console.log(data);
                var photos = data.photos;
                for (var i = 0; i < photos.length; i++) {
                    loadPhoto(i, photos[i].filename, photos[i].title, photos[i].ratioWH, photos[i].rotate);
                }
            },
            error: function (status) {
                handleError(status);
                console.log(status.responseText);
            }
        })
    } else {
        $.ajax({
            type: 'GET',
            url: '/gallery/',
            async: false,
            success: function (data) {
                setCookie('gallery', data.groupId);
                galleryId = data.groupId;
                title = data.groupName;
                role = data.roleInGroup;
                $(document).attr('title', title);
                // console.log(data);
                var photos = data.photos;
                for (var i = 0; i < photos.length; i++) {
                    loadPhoto(i, photos[i].filename, photos[i].title, photos[i].ratioWH, photos[i].rotate);
                }
            },
            error: function (status) {
                handleError(status);
                console.log(status.responseText);
            }
        })
    }

    Page.init();
</script>
<script>
    $(function () {

        $('.upload-cover').click(function () {
            hideUpload();
        });

        $('#upload-btn').click(function () {
            var formData = new FormData();
            if ($('#upload_file')[0].files.length != 1) {
                $('.error-container').children('p').text('请选择图片');
                $('.error-container').show();
                return;
            }
            formData.append('file', $('#upload_file')[0].files[0]);
            formData.append('description', $('#upload_description').val());
            formData.append('originalTime', $('#upload_original_time').val());
            formData.append('rotate', $('#upload_rotate').val());
            $.ajax({
                type: 'POST',
                url: '/gallery/'+galleryId+'/photo',
                cache: false,
                processData: false,
                contentType:false,
                data: formData,
                beforeSend: function () {

                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (status) {
                    console.log(status.responseText);
                }
            });
            hideUpload();
        });

        /*

            Creative example - Customized layout
            ====================================

        */

        $('[data-fancybox="image"]').fancybox({
            baseClass: 'fancybox-custom-layout',
            infobar: false,
            thumbs: {
                hideOnClose: false
            },
            touch: {
                vertical: false
            },
            buttons: [
                'close'
            ],
            animationEffect: "fade",
            transitionEffect: false,
            idleTime: false,
            gutter: 0,
            // Customize caption area
            caption: function (instance) {
                return '<h3>  </h3>';
                // return '<h3>home</h3><p>interiors, exteriors, and the humans that inhabit them.</p><p><a href="https://unsplash.com/collections/curated/162" target="_blank">unsplash.com</a></p>';
            },
            afterShow: function (instance, slide) {
                var file = instance.current['src'].split('/')[2];
                $.ajax({
                    type: 'GET',
                    url: '/gallery/photo/' + file + '?group=' + galleryId,
                    success: function (data) {
                        var comments = '<h3>' + data.title + '</h3>';
                        comments += '<div class="fancybox-comments">';
                        if(data.comments.length > 0){
                            data.comments.forEach(function (c) {
                                comments += '<p><strong>' + c.username + '  </strong>'
                                    + c.comment + '</p>';
                            });
                        }else {
                            comments += '<p>no comments...</p>';
                        }
                        comments += '</div>';
                        comments += '' +
                            '<div class="fancybox-up">' +
                            '   <input id="comment" placeholder="写留言">' +
                            '   <div class="fancybox-opbtn">' +
                            '       <button id="commentBtn" class="gallery-button" onclick="uploadComment()">发送</button>';
                        if(role == 'Creator' || role == 'Manager'){
                            comments += '' +
                                '   <a id="deleteBtn" class="link" onclick="deletePhoto()">删除</a>';
                        }
                        comments += '' +
                            '   </div>' +
                            '</div>' +
                            '<p class="shooting-time">拍摄于'+data.originalDate+'</p>';
                        instance.$refs.container.find('.fancybox-caption')
                            .html(comments);
                        var $image = instance.$refs.container.find('.fancybox-image');
                        addRotate($image, data.rotate);
                    },
                    error: function (status) {
                        handleError(status);
                        console.log(status.responseText);
                    }
                })
            }
        });

        var fileLabel = $('#upload_label');
        var fileInput = $('#upload_file');
        // var demoVal = $('#demo-val');
        var oFile = new FileReader();
        var passFileType = /^(?:image\/bmp|image\/gif|image\/jpeg|image\/png)$/i;

        oFile.onloadend = function(oFREvent){


            var state = oFREvent.currentTarget.readyState;
            if (state === 2) {
                fileLabel.addClass('set').css('backgroundImage', 'url(' + oFREvent.target.result + ')');
            } else {

            }
        };

        fileInput.on('change', function(e){
            if (!e.target || !e.target.files.length || !e.target.files[0]) {return}

            var _file = e.target.files[0];

            if (!passFileType.test(_file.type)) {return}

            oFile.readAsDataURL(_file);

            EXIF.getData(_file, function(){
                var _dataJson = EXIF.getAllTags(this);
                var date;
                // demoLog.html(_dataJson);
                // demoVal.val(_dataTxt);
                if(_dataJson['DateTimeOriginal']){
                    date = _dataJson['DateTimeOriginal'].split(' ')[0];
                    date = date.replace(/:/g, "-");
                    $('#upload_original_time').val(date)
                }

                var _rotate = 0;
                var _orientation = EXIF.getTag(this, 'Orientation');

                if (_orientation == 3) {
                    _rotate = 180;
                } else if (_orientation == 6) {
                    _rotate = 90;
                } else if (_orientation == 8) {
                    _rotate = 270;
                }
                $('#upload_rotate').val(_rotate);
                addRotate(fileLabel, _rotate);
                // fileLabel.addClass('rotate-' + _rotate);
            });
        });

        /*

		Creative example - Product quick view
	    =====================================

	*/

        // $('[data-fancybox="image"]').fancybox({
        //     baseClass: 'quick-view-container',
        //     infobar: false,
        //     buttons: ["close"],
        //     arrows: true,
        //     thumbs: false,
        //     margin: 0,
        //     touch: {
        //         vertical: false
        //     },
        //     animationEffect: false,
        //     transitionEffect: "slide",
        //     transitionDuration: 500,
        //     baseTpl: '<div class="fancybox-container" role="dialog">' +
        //     '<div class="quick-view-content">' +
        //     '<div class="quick-view-carousel">' +
        //     '<div class="fancybox-stage"></div>' +
        //     '</div>' +
        //     '<div class="quick-view-aside"></div>' +
        //     '<div class="fancybox-navigation"><button data-fancybox-prev="" class="fancybox-button fancybox-button--arrow_left" title="Previous" disabled=""><div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.28 15.7l-1.34 1.37L5 12l4.94-5.07 1.34 1.38-2.68 2.72H19v1.94H8.6z"></path></svg></div></button><button data-fancybox-next="" class="fancybox-button fancybox-button--arrow_right" title="Next"><div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.4 12.97l-2.68 2.72 1.34 1.38L19 12l-4.94-5.07-1.34 1.38 2.68 2.72H5v1.94z"></path></svg></div></button></div> ' +
        //     '<button data-fancybox-close class="quick-view-close">X</button>' +
        //     '</div>' +
        //     '</div>',
        //
        //     onInit: function (instance) {
        //
        //         /*
        //
        //             #1 Create bullet navigation links
        //             =================================
        //
        //         */
        //
        //         var bullets = '<ul class="quick-view-bullets">';
        //
        //         for (var i = 0; i < instance.group.length; i++) {
        //             bullets += '<li><a data-index="' + i + '" href="javascript:;"><span>' + (i + 1) + '</span></a></li>';
        //         }
        //
        //         bullets += '</ul>';
        //
        //         $(bullets).on('click touchstart', 'a', function () {
        //             var index = $(this).data('index');
        //
        //             $.fancybox.getInstance(function () {
        //                 this.jumpTo(index);
        //             });
        //
        //         })
        //             .appendTo(instance.$refs.container.find('.quick-view-carousel'));
        //
        //
        //         /*
        //
        //             #2 Add product form
        //             ===================
        //
        //         */
        //
        //         var $element = instance.group[instance.currIndex].opts.$orig;
        //         var form_id = $element.data('qw-form');
        //
        //         instance.$refs.container.find('.quick-view-aside').append(
        //             // In this example, this element contains the form
        //             $('#' + form_id).clone(true).removeClass('hidden')
        //         );
        //
        //     },
        //
        //     beforeShow: function (instance) {
        //
        //         /*
        //             Mark current bullet navigation link as active
        //         */
        //
        //         instance.$refs.container.find('.quick-view-bullets')
        //             .children()
        //             .removeClass('active')
        //             .eq(instance.currIndex)
        //             .addClass('active');
        //
        //     }
        //
        // });
    })
</script>
</html>