<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Aven">
    <title>Gallery</title>
    <link rel="shortcut icon" href="/img/cloud.ico">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/bookblock.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css"/>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/jquery.bookblock.min.js"></script>
    <script src="/js/jquerypp.custom.js"></script>
    <script src="/js/gallery.js"></script>
</head>
<body>
<div class="container">
    <div class="bb-custom-wrapper">
        <div class="bookmark" onclick="bookmark()"></div>
        <div class="prev-page-btn"></div>
        <div id="bb-bookblock" class="bb-bookblock">
            <div id="menu-page" class="menu-page" hidden>
                <div class="left-page"></div>
                <div class="right-page"></div>
            </div>
            <div class="bb-item">
                <div class="left-page"></div>
                <div class="right-page"></div>
            </div>
        </div>
        <div class="next-page-btn"></div>
        <div class="upload"><a href="/upload"></a></div>
    </div>
</div>
</body>
<script>
    var Page = (function () {
        var config = {
                $bookBlock: $('#bb-bookblock'),
                $prev: $('.prev-page-btn'),
                $next: $('.next-page-btn'),
                $bookmark: $('.bookmark')
            },
            init = function () {
                config.$bookBlock.bookblock({
                    speed: 800,
                    shadowSides: 0.8,
                    shadowFlip: 0.7,
                    onBeforeFlip: function (page) {

                        return false;
                    },
                    onEndFlip: function (old, page, isLimit) {
                        // var $menuPage = $('#menu-page');
                        // if (!$menuPage.is(':hidden')) {
                        //     $menuPage.attr('hidden', '');
                        //     $menuPage.removeClass('bb-item');
                        //     config.$bookBlock.bookblock('update');
                        // }
                        return false;
                    }
                });
                initEvents();
            },
            initEvents = function () {
                var $slides = config.$bookBlock.children();

                config.$prev.on('click', function () {
                    config.$bookBlock.bookblock('prev');
                    return false;
                });

                config.$next.on('click', function () {
                    config.$bookBlock.bookblock('next');
                    return false;
                });

                // config.$bookmark.on('click', function () {
                //     config.$bookBlock.bookblock('first');
                // });

                // add swipe events
                $slides.on({
                    'swipeleft': function (event) {
                        config.$bookBlock.bookblock('next');
                        return false;
                    },
                    'swiperight': function (event) {
                        config.$bookBlock.bookblock('prev');
                        return false;
                    }
                });
            }

        return {init: init};
    })();
</script>
<script>
    var galleryId;
    var title;
    if (galleryId) {
        $.ajax({
            type: 'GET',
            url: '/gallery/'+galleryId,
            async: false,
            success: function (data) {
                galleryId = data.groupId;
                title = data.groupName;
                $(document).attr('title', title);
            },
            error: function (status) {
                handleError(status);
            }
        })
    }else {
        $.ajax({
            type: 'GET',
            url: '/gallery/',
            async: false,
            success: function (data) {
                galleryId = data.groupId;
                title = data.groupName;
                $(document).attr('title', title);
                console.log(data);
                var photos = data.photos;
                for (var i = 0; i < photos.length; i ++){
                    loadPhoto(i, photos[i].filename, photos[i].title);
                }
            },
            error: function (status) {
                handleError(status);
                console.log(status.responseText);
            }
        })
    }

    Page.init();
</script>
</html>